@import "../../untils/main.scss";

.Advertisement__header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  
    padding: 2rem 0 0 0;
  }
  
  .Advertisement__summary-box {
    max-width: calc(100% - 16rem);
    margin: 0 4rem 0 0;
  }
  
  .Advertisement__title {
    margin: 0;
  
    font-size: $h2;
    line-height: 1.35;
  }
  
  .Advertisement__location {
    margin: 0.5rem 0;
  
    font-size: $h4;
  }
  
  .Advertisement__tags-box {
    margin: 1rem 0 0 0;
  }
  
  .Advertisement__tag {
    display: inline-block;
  
    margin: 0.25rem 1rem 0.25rem 0;
    padding: 0.25rem 2rem;
    border-radius: 0.5rem;
  
    color: white;
  
    background: $primary-color;
  }
  
  .Advertisement__aside-box {
    width: 12rem;
  }
  
  .Advertisement__host-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Advertisement__host-name {
    margin: 0 1rem 0 0;
  
    font-size: $h4;
  }
  
  .Advertisement__host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  
    font-size: var(--xs-size);
    text-align: center;
  
    background: var(--neutral-300);
  }
  
  .Advertisement__rating {
    margin: 24px 0 0 0;
  
    text-align: right;
  }
  
  .Advertisement__rating i {
    margin: 0 0 0 8px;
  
    color: var(--neutral-200);
    font-size: $h3;
  }
  
  .Advertisement__rating i.colored {
    color: $primary-color;
  }
  
  .Advertisement__collapses-box {
    @include flex-center;
  
    margin: 0 0 32px 0;
  }
  
  .Advertisement__collapse {
    width: 576px;
  }