@import "../../untils/main.scss";

.logement_display {
  .display_carousel {
      margin: 27px 0 15px 0;
  }

  &_details {
      display: flex;
      flex-direction: column;
  }

  .logement_display_details {
      margin-top: 5px;

      .logement_description_left {
          .logement_titles h1 {
              font-weight: 500;
              font-size: 18px;
              line-height: 26px;
          }

          .logement_titles h2 {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
          }
      }
      .logement_description_right {
          .logement_owner_container {
              margin: 6px 0 16px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .logement_rating {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 98px;
                  height: 18px;

                  i {
                      font-size: 18px;
                  }
              }
              .logement_owner {
                  display: flex;
                  align-items: center;
                  span {
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 17px;
                      display: flex;
                      justify-content: flex-end;
                      align-items: center;
                      text-align: right;
                      width: 80px;
                      height: 33px;
                  }

                  img {
                      margin-left: 11px;
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                  }
              }
          }
      }
  }

  .logement_cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    
      .logement_description {
          width: 100%;
          
          margin-bottom: 20px;
          ul li {
              font-weight: 400;
              font-size: 12px;
              line-height: 17px;
          }
      }

      .logement_equipements {
          width: 100%;
          }
      }
  }
}