@import "../../untils/main.scss";

// Version Desktop
header {
  @include flex-between;
  align-items: center;
  
  margin: 57px 100px;
  
  .main-nav ul {
    display: flex;
    align-items: center;
  }
  
  .main-nav li {
    margin: 0 0 0 57px;
  
    text-align: center;
    list-style-type: none;
  }
  
  .header-link {
    color: $primary-color;
    text-decoration: none;
  }
  
  .active-link {
    text-decoration: underline;
  }
}

// Version Mobile & Tablette
@media screen and (max-width: 888px) {
  header {
    margin: 20px;

    .header-logo {
      height: 32px;
    }

    .main-nav ul {
      padding: 10px;
    }
    
    .main-nav li {
      margin: 0 0 0 10px;
      
    }

    .header-link {
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}