@import "../../untils/main.scss";

header {
  @include flex-between;
  align-items: center;
  
  margin: 57px 100px;
  
  
  .main-nav ul {
    display: flex;
    align-items: center;
  }
  
  .main-nav li {
    margin: 0 0 0 57px;
  
    text-align: center;
    list-style-type: none;
  }
  
  .header-link {
    color: $primary-color;
    text-decoration: none;
  }
  
  .active-link {
    text-decoration: underline;
  }

}