@import "../../untils/main.scss";

// Version Desktop
footer {
    width: 100%;
    padding: 16px 0;

    text-align: center;
  
    background: black;
  
  img {
    margin: 48px 0 16px 0;

    color: $tertiary-color;
  }
  
  p {
    color: $tertiary-color;
    font-size: $h3;
    font-weight: 500;
  }
}

// Version Mobile & Tablette
@media screen and (max-width: 1308px) {
  footer img {
    height: 32px;
  }

  footer p {
    font-size: $h5;
  }
}